@font-face {
    font-family: digital;
    src: url(fonts/digital-7/digital-7.ttf);
}

html {
    font-size: 20px;
}

html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 270px;
    border-radius: 8px;
    background-color: rgb(5, 52, 105);
    filter: drop-shadow(2px 15px 12px grey);
}

.display-container {
    margin: 5px;
    margin-bottom: 10px;
    height: 70px;
    width: 250px;
    border-radius: 6px;
    font-family: digital;
    color: rgb(78, 77, 77);
    background-color: rgb(189, 180, 192);
}
.upper-display {
    margin: 5px;
    font-size: 30px;
}
.lower-display {
    padding-top: 5px;
    margin: 5px;
    display: flex;
    width: 240px;
    height: 35px;
    justify-content: end;
    font-family: digital;
    font-size: 40px;
}
.btn {
    padding-bottom: 3px;
    padding-left: 7px;
    background: #fafafa;
    border-color: #313030;
    border-width: 3px;
    border-style: solid;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    background-color: #4378c7;
}

.btn.eql-btn {
    background-color: rgba(255, 0, 0, 0.267);
}
.btn.eql-btn:hover {
    background-color: rgba(255, 54, 54, 0.363);
}

.btn.opr-btn {
    background-color: rgba(255, 0, 0, 0.267);
}
.btn.opr-btn:hover {
    background-color: rgba(255, 54, 54, 0.363);
}

.clr-btn.btn {
    background-color: rgb(185, 123, 6);
}
.clr-btn.btn:hover {
    background-color: rgba(255, 166, 0, 0.856);
}

.btn:hover {
    cursor: pointer;
    background-color: #678fca;
}
.btn:active {
    transform: scale(0.93, 0.93);
    /* background-color: #8f8d8f; */
}
.button-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    background-color: rgb(74, 85, 85);
} 